<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">КОНТАКТЫ</a>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" >Список</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/create']" routerLinkActive="active">Создать</a>
        </li>
      </ul>
  </nav>