<div class="container">
    <h3 class="mt-2">Hайти контакт</h3>
    <div class="row">
        <input type="text" class="form-control col-3" [(ngModel)]="searchString" >
    </div>
</div>

<div class="container mt-3" *ngFor="let person of persons | myFilter:searchString" >
    <form class="row"  [style.cursor]="'pointer'" (click)="onLink(person.id)">
        <div class="col-1">{{person.id}}</div>
        <div class="col-2">{{person.name}}</div>
        <div class="col-2">{{person.surname}}</div>
        <div class="col-2">+7 {{person.phone |  mask: '(000) 000 00 00'}}</div>
    </form>
</div>
